FGA_API_URL=https://api.eu1.fga.dev
FGA_STORE_ID=your-store-id
FGA_CLIENT_ID=your-client-id
FGA_CLIENT_SECRET=your-client-secret
FGA_API_AUDIENCE=https://api.eu1.fga.dev/
FGA_TOKEN_ISSUER=auth.fga.dev

GROQ_API_KEY=your-groq-api-key
SECRET_KEY=any-random-string